
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container-flui">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; {{ test | date: "yyyy" }} <a href="https://github.com/andraandrei" class="font-weight-bold ml-1" target="_blank">Andra Ioana Andrei</a>
          </div>
        </div>
      </div>
    </div>
  </footer>  
</div>


