<html style="font-size: 16px;" lang="es">
  <body data-home-page="Casa.html" data-home-page-title="Casa" class="u-body u-xl-mode" data-lang="es">
    <section class="u-align-center u-clearfix u-palette-3-base u-section-3" id="carousel_83e3">
      <div class="u-gradient u-opacity u-opacity-55 u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1"> 
    
          <div class="u-container-style u-grey-5 u-group u-radius-20 u-shape-round u-group-1"  >
            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1" style="padding-right: 100px;">
              <h4 class="mb-0">Welcome {{returnUser()}}!</h4>
              <p class="u-text u-text-2">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            </div>
            <div><img src="../../../assets/img/theme/kj.jpg" alt="" class="u-align-right" style="height:500px;width: 250; "></div>
        </div> 
        </div>
      </div> 
      <div class="u-gradient u-shape u-shape-circle u-shape-2"></div>
    </section>
  </body>
</html>
